@import 'variables.less';
@import 'mixins.less';

body {
    background: @primary-color-02;
}

.login-row {
    text-align: center;
}

.forgot-pwd {
    text-decoration: underline;
}

.info-container {
    > div[class*="col-sm"] {
        > div[class*="wrapper"] {
            border: 1px solid @border-color;
        }
    }
    .user-content {
        .user-icon {
            text-align: center;
        }
    }
}

.navbar,
.footer-content {
    background-color: @primary-color-05;
}

.navbar {
    .nav > li {
        > a {
            text-shadow: none;

            &.navbar-brand {
                text-shadow: none;
            }
        }
    }
}


@media only screen and (min-width: 1200px) {
    .button-size(@btn-width-desktop, @btn-signup-margin-desktop);
}

@media only screen and (min-width: 768px) {
    .login-row {
        img {
            margin: @login-img-margin-desktop;
        }
    }
    .navbar {
        border-bottom: 1px solid @border-color;
        border-radius: 0;
        a {
            color: @primary-color-01;
        }

        .nav > li {
            > a {
                &:hover {
                    background-color: @primary-color-05;
                }
            }
        }

        .logout-col {
            span {
                font-size: @logout-icon-size;
            }
        }
    }

    .footer-content {
        border-top: 1px solid @border-color;
    }

    .info-container {
        margin: 30px 0;
        > div[class*="col-sm"] {
            padding: @info-container-padding;
        }
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .button-size(@btn-width-small, @btn-signup-margin-small);
}

@media only screen and (max-width: 767px) {
    .login-row {
        img {
            margin: @login-img-margin-mobile;
        }
    }

    .button-size(@btn-width-mobile, @btn-signup-margin-mobile);
}