@import 'variables.less';
@import 'mixins.less';

body {
    background: @primary-color-02;
}

.login-row {
    text-align: center;
}

.forgot-pwd {
    text-decoration: underline;
}

.info-container {
    .user-content {
        .user-icon {
            text-align: center;
        }
    }
}

.navbar,
.footer-content {
    background-color: @primary-color-02;
}

.navbar {
    .nav > li {
        > a {
            text-shadow: none;

            &.navbar-brand {
                text-shadow: none;
            }
        }
    }
}

.thumbnail {
    box-shadow: none;
    border: 1px solid @border-color;
    background-color: @primary-color-02;
    border-radius: 0;
}

.list-group {
    border-radius: 0;
    box-shadow: none;
    
    .list-group-item {
        background-color: @primary-color-02;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        .checkbox {
            margin: 0;
        }
    }
}

.btn-block {
    text-align: center;
}

.footer-content {
    border-top: 1px solid @border-color;
    text-align: center;

    .pagination {
        > li {
            > a {
                background-color: @primary-color-02;
                text-decoration: underline;
                border: none;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .login-row {
        img {
            margin: @login-img-margin-desktop;
        }
    }
    .navbar {
        border-bottom: 1px solid @border-color;
        border-radius: 0;
        a {
            color: @primary-color-04;
        }

        .nav > li {
            > a {
                &:hover {
                    background-color: @primary-color-02;
                    text-decoration: underline;
                }
            }
        }

        .logout-col {
            span {
                font-size: @logout-icon-size;
            }
        }
    }

    .thumbnail {
        .media {
            margin-bottom: @content-media-margin-bottom-desktop;
        }
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .button-size(@btn-width-small, @btn-signup-margin-small);

    .thumbnail {
        padding: @thumbnail-padding-small;
    }
    .list-content {
        .thumbnail {
            padding: @list-thumbnail-padding-small;
            .btn-default {
                width: 55%;
            }
        }
    }

    .media {
        .media-left {
            padding-right: @content-media-padding-left-small;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .button-size(@btn-width-desktop, @btn-signup-margin-desktop);

    .thumbnail {
        padding: @thumbnail-padding-desktop;

        .btn-default {
            width: 30%;
        }
    }

    .list-content {
        .thumbnail {
            padding: @list-thumbnail-padding-desktop;
        }
    }

    .media {
        .media-left {
            padding-right: @content-media-padding-left-desktop;
        }
    }
}

@media only screen and (max-width: 767px) {
    .login-row {
        img {
            margin: @login-img-margin-mobile;
        }
    }

    .button-size(@btn-width-mobile, @btn-signup-margin-mobile);

    .navbar {
        display: none;
    }

    .media {
        .media-left {
            text-align: center;
            display: block;
        }
        .media-body {
            display: block;
            width: 100%;
            margin-top: 20px;
        }
    }

    .thumbnail {
        padding: 25px;
    }

}